<nav class="navbar navbar-light">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">WeLearn CMS</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/documents']">Documents</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/messages']">Messages</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/contacts']">Contacts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown>
          <a class="dropdown-toggle" href="#">User <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>