<div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-3">
          <img [src]="contact?.imageUrl" class="img-responsive img-thumbnail">
        </div>
        <div class="col-md-9">
          <h3>{{ contact?.name }}</h3>
          <a class="btn btn-primary">Edit</a>
          <a class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <p><strong>Email:</strong> {{ contact?.email }}</p>
      <p><strong>Phone:</strong> {{ contact?.phone }}</p>
    </div>
</div>
  