<div class="panel panel-default">
    <div class="panel-body">
      <form id="contact-edit" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="name">Name:</label>
            <input
              #name="ngModel"
              [(ngModel)]="contact.name"
              class="form-control required"
              id="name"
              max="120"
              name="name"
              required
              size="120"
              type="text"
            >
            <div class="alert alert-danger" *ngIf="name.invalid && name.touched">
              The Name field is required.
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="email">Email:</label>
            <input
              #email="ngModel"
              [(ngModel)]="contact.email"
              class="form-control required"
              id="email"
              max="255"
              name="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              required
              size="120"
              type="text"
            >
          </div>
          <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
            Enter a valid Email address.
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="phone">Phone:</label>
            <input
              #phone="ngModel"
              [(ngModel)]="contact.phone"
              class="form-control required"
              id="phone"
              max="255"
              name="phone"
              pattern="\D*([2-9]\d{2})(\D*)([2-9]\d{2})(\D*)(\d{4})\D*"
              required
              type="tel"
            >
          </div>
          <div class="alert alert-danger" *ngIf="phone.invalid && phone.touched">
            Enter a valid Phone.
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="imageUrl">Image URL:</label>
            <input
              #imageUrl="ngModel"
              [(ngModel)]="contact.imageUrl"
              class="form-control"
              id="imageUrl"
              name="imageUrl"
              type="url"
            >
            <div class="alert alert-danger" *ngIf="imageUrl.invalid && imageUrl.touched">
              Enter a valid Image URL.
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="groupList">Group Contacts:</label>
            <div 
              [dropZones]="['contactGroup']" 
              (onDropSuccess)="addToGroup($event)"
              class="groupList row" 
              dnd-droppable 
              id="groupList"
              >
              <div *ngFor="let contact of groupContacts; let i = index">
                <cms-contact-item class="col-sm-11" [contact]="contact"></cms-contact-item>
                <button class="btn btn-danger col-sm-2 deleteButton" (click)="onRemoveItem(i)">X</button>
              </div>
              <span class="dragMsg" *ngIf="!groupContacts || groupContacts.length < 1">Drag contacts in group here</span>
            </div>
  
          </div>
        </div>
  
  
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button  [disabled]="f.invalid" class="btn btn-success" type="submit">Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
  
      </form>
    </div>
</div>
