<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Contacts</h3>
      <a href="#" class="btn btn-primary btn-sm pull-right">Create Contact</a>
    </div>
    <div class="panel-body">
      <div class="row thumbnail"  *ngFor="let contact of contacts">
        <div class="col-md-8" >
            <h3>{{ contact.name }}</h3>
        </div>
        <div class="col-md-4">
            <img src="{{ contact.imageUrl }}" alt="{{ contact.name }}">
        </div>
      </div>
    </div>
</div>
  