<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Contacts</span>
      <a [routerLink]="['/contacts/new']" class="btn btn-success pull-right">New Contact</a>
    </div>
  </div>
  <div class="panel-body">
    <cms-contact-item 
      *ngFor="let contact of contacts" 
      [contact]="contact"
      [dragData]="contact"
      [dragEnabled]="true"
      [dropZones]="['contactGroup']"
      dnd-draggable
    ></cms-contact-item>
  </div>
</div>
